<div class="quiz-page">
  <div class="quiz-page__main">

    <div class="quiz-page__main-content">
      <h4 class="quiz-page__main-content-title headline-1">
        {{ (activeQuestion$ | async).question }}
      </h4>

      <div class="quiz-page__main-content-questions">

        <app-option-card
          *ngFor="let option of (activeQuestion$ | async).options; trackBy trackOptions"
          [option]="option"
          [optionCardPicked]="option.id | optionPicked: pickedOptions"
          (optionCardPick)="pickOption($event)"

        ></app-option-card>


      </div>
    </div>

  </div>
</div>
