<div class="quiz-page">
  <div class="quiz-page__main">

    <div class="quiz-page__main-content">
      <h4 class="quiz-page__main-content-title headline-1">
        {{ (activeQuestion$ | async).question }}
      </h4>

      <div class="quiz-page__main-content-questions">

        <app-option-card
          *ngFor="let option of (activeQuestion$ | async).options; trackBy trackOptions"
          [option]="option"
          [optionCardPicked]="option.id | optionPicked: pickedOptions"
          (optionCardPick)="pickOption($event)"

        ></app-option-card>


      </div>
    </div>

    <div class="quiz-page__main-stats">
      <div class="stat">
        <p class="stat__title row subtitle-1">Udzielone odpowiedzi</p>

        <div class="stat__progress row">
          <div class="stat__progress-success"
               [style.width]="((correctAnswers$ | async) | twoNumsRatio: (wrongAnswers$ | async))[0]"
          ></div>

          <div class="stat__progress-failure"
               [style.width]="((correctAnswers$ | async) | twoNumsRatio: (wrongAnswers$ | async))[1]"

          ></div>
        </div>

        <div class="stat__number row flex justify-between align-center subtitle-1">
          <p>0</p>
          <p >0</p>
        </div>
      </div>

      <div class="stat">
        <p class="stat__title row subtitle-1">Poprawne odpowiedzi</p>

        <div class="stat__progress answers row">
          <div class="stat__progress-success"
               [style.width]="((passedQuestions$ | async) | twoNumsRatio: (totalQuestions$ | async))[0]"
          ></div>

        </div>

        <div class="stat__number row flex justify-between align-center subtitle-1">
          <p>{{passedQuestions$ | async}}</p>
          <p >{{totalQuestions$ | async}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
