$black: #000000;
$text-main: #151515;
$bg-black: #111111;
$norm-text: #3C3C3C;
$text-secondary: #50535A;
$text-third: #686868;
$text-fourth: #989898;
$text-fifth: #CACACA;
$active-text: #4F4F4F;
$surface-grey-blue: #F1F4F7;
$checked: #FCFDFF;

$white: #FFFFFF;
$bg-error: #FFFAFA;
$bg-disabled: #E5E9EE;
$bg-middle: #F8F9FB;
$bg-dark: #E5EAEE;
$bg-not-active: #EFF1F4;
$bg-light-purple: #F6F5FF;
$bg-light-orange: #FFFAF6;
$stroke: #EFEEF0;

$accent-primary-default: #695FE4;
$accent-primary-light: #9C8EF7;
$accent-primary-dark: #2F35AA;
$accent: #1F438A;
$accent-secondary-light: #FFFFEE;


$warning: #DD1C1C;
$warning-orange: #F2994A;

$warning-success: #37B067;
$bg-success: #E7F4EE;
